{% load crispy_forms_tags %}
<div class="col mx-auto my-5 px-lg-0 {% if button_context != 'Comment' %} px-2 col-lg-6 {% endif %}">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {% if title %}
      <legend class="border-bottom mb-4">{{ title }}</legend>
      {% endif %}
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info">{{ button_context }}</button>
    </div>
  </form>
</div>
